/_backup
/_import

/alembic
alembic.ini

node_modules

/logs
/data
/static/converted

cert.pem
key.pem
website_url.txt

__pycache__
.pytest_cache
*.egg-info

*.log
*.zip
*.sqlite
*.env

.venv/
build
nogit/

reset.txt
rows.txt

TODO

.python-version