/_backup
/_import

/alembic
alembic.ini

node_modules

/logs
/data
/static/converted

cert.pem
key.pem

__pycache__
.pytest_cache
*.egg-info

*.log
*.zip
*.sqlite
*.env

.venv/
build

TODO

.python-version