export GCLOUD_PROJECT="xxx" 
export REPO="xxx"
export REGION="xxx"

export IMAGE="xxx"

export WEBSITE_HOSTNAME="ex.am.ple"
export STATIC_URL="https://ex.am.ple/static/" # optional

export IMAGE_TAG=${REGION}-docker.pkg.dev/$GCLOUD_PROJECT/$REPO/$IMAGE
