.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html[data-theme="dark"] {
  * .lightmode {
    display: none;
  }
}

html[data-theme="light"] {
  * .darkmode {
    display: none;
  }
}

td.control {
  background-color: transparent;
  border: none;
}

tbody tr.disabled {
  opacity: 50%;
}

@media (pointer: fine) {
  tbody tr td input.toggle {
    opacity: 0%;
  }
}

tbody tr:hover {
  td input.toggle {
    opacity: 100%;
  }
  td:not(.control) {
    background-color: var(--pico-text-selection-color);
  }
}

tbody tr td input.toggle:focus {
  opacity: 100%;
}

.danger,
td:has(input:invalid) {
  border-bottom: 3px solid var(--pico-del-color);
}

.not-yet {
  opacity: 50%;
}

.error {
  color: var(--pico-del-color);
}

button.big-friendly {
  padding-inline: 2rem;
  font-size: xx-large;
}

footer {
  text-align: right;
}

td input:not([type="checkbox"], [type="radio"]) {
  border: none;
  display: inline;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0 0 0 0;
  margin-bottom: auto !important;
  margin-top: auto !important;
  height: auto !important;
  max-width: fit-content;
}

td input:not([type="checkbox"], [type="radio"]):focus {
  box-shadow: none;
}

input.species {
  min-width: 8rem;
}

input.locale {
  width: 6rem;
}

input.accuracy {
  width: 1rem;
}

input.date {
  width: 6rem;
}

input.comment {
  min-width: 8rem;
}

.hidden {
  display: none;
  transition: all 0.2s linear;
}


div.info-footer {
  text-align: right;
  font-size: xx-large;
  i {
    color: var(--pico-contrast);
  }
}

div.info-footer:hover i {
  color: var(--pico-ins-color);
}

dialog article .modal-header {
  position: sticky;
  top: 0px;
  text-align: right;
  font-size: xx-large;
  i:hover {
    color: var(--pico-del-color);
  }
}

#convert-help, #edit-help {
  padding-top: 3rem;
  padding-inline: 2rem;
  * {
    text-align: center;
  }
}

.video-container {
  font-size: 4rem;
  position: relative;
  video {
    max-width: 100%;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .overlay.overlay.fa-pause-circle {
    opacity: 0%
  }
}

.video-container:hover .overlay {
  opacity: 100%!important;
  color: var(--pico-ins-color);
}

.disclaimer {
  opacity: 45%;
}

.disclaimer:hover {
  opacity: 100%
}

