.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

td.control {
  background-color: transparent;
  border: none;
}

tbody tr.disabled {
  opacity: 50%;
}

@media (pointer: fine) {
  tbody tr td input.toggle {
    opacity: 0%;
  }
}

tbody tr:hover {
  td {
    background-color: var(--pico-background-contrast-color);
    input.toggle {
      opacity: 100%;
    }
  }
}

.danger, 
td:has(input:invalid) {
  border-bottom: 3px solid var(--pico-del-color);
}

td input:not([type="checkbox"], [type="radio"]) {
  border: none;
  display: inline;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0 0 0 0;
  margin-bottom: auto !important;
  margin-top: auto !important;
  height: auto !important;
  max-width: fit-content;
}

td input:not([type="checkbox"], [type="radio"]):focus {
  box-shadow: none;
}

input.species {
  min-width: 8rem;
}

input.locale {
  width: 4rem;
}

input.accuracy {
  width: 1rem;
}

input.date {
  width: 6rem;
}
