<html>
  <head>
    <title>gpx2artdata</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.green.min.css" />
    <link
      rel="icon"
      href="{{ url_for('static', path='/favicon.png') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="container">
    <main>
      {% if toast %}
      <section style="text-align: center;">
        <h2>Ny address: <a href="https://gpx.skolbacken.com">gpx.skolbacken.com</a></h2>
        <p>(sjukt mycket lättare att komma ihåg)</p>
      </section>
      {% endif %}
      <header>
          <h1 style="margin-top: 4rem;">Konvertera GPX-fil till ett format som bara artdata begriper</h1>
      </header>
        <article>
            <form action="/" method="POST" enctype="multipart/form-data">
                <h2>1. Välj en GPX-fil</h2>
                <input type="file" id="file" name="file" />
                <h2>2. Lokalnamn</h2>
                <input type="text" id="locale" name="locale" />
                <h2>3. Noggrannhet (m)</h2>
                <input type="number" id="accuracy" value="1" name="accuracy" />
                <h2>4. Konvertera</h2>
                <input type="submit" value="Kör!" />
            </form>
        </article>
        {% if error %} 
        <article>
            <h3>He gick int!!!</h3>
            <details>{{ error }}</details>
        </article> 
        {% endif %}
        {% if rows %}
        <article>
          <h2>{{ title }} | <button id="copy" onclick="CopyToClipboard('data')">Kopiera</button> | <a href="{{xlsx_url}}" download=""><button role="link" >Ladda ner .xlsx</button></a></h2>
            <table id="data">
            <tr>
              {% for heading in headings %}
              <th>{{ heading }}</th>
              {% endfor %}
            </tr>
            {% for row in rows %}
            <tr>
              {% for item in row %}
              <td>{{ item }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
        </article>
        {% endif %}
      <footer style="text-align: right;">
          <hr>
          <small>&copy; elektroslöjd 2024 |  {% include "version.txt" %}</small>
      </footer>
    </main>
    <script>
        function CopyToClipboard(id)
            {
                var r = document.createRange();
                r.selectNode(document.getElementById(id));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(r);
                document.execCommand('copy');
                window.getSelection().removeAllRanges();
                document.getElementById('copy').innerHTML = "Kopierat!";
            }

</script>
  </body>
</html>
