<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {% endif %}gpx2artdata</title>
    <link rel="icon" href="{% include 'static_url.txt' %}favicon.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.green.min.css" />
    <link rel="stylesheet" href="{% include 'static_url.txt' %}style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="{% include 'static_url.txt' %}dictionary.js"></script>
    <script src="{% include 'static_url.txt' %}main.js"></script>
  </head>
  <body>
    <main class="container">
      {% if toast %}
      <section style="text-align: center;">
        <h2>Ny address: <a href="{{ env['PROTOCOL'] }}://{{ env['WEBSITE_HOSTNAME'] }}">{{ env['WEBSITE_HOSTNAME'] }}</a></h2>
        <p>(sjukt mycket lättare att komma ihåg)</p>
      </section>
      {% endif %}
      <header style="text-align: center;">
          <h1 style="margin-top: 4rem;">Konvertera GPX-fil till ett format som bara artdata begriper</h1>
      </header>
      <article>
        <form hx-encoding='multipart/form-data' hx-post='/' hx-target="#result", hx-swap="innerHTML swap:1s", hx-indicator="#loading">
            <h2>1. Välj en fil och fyll i lokalnamn: </h2>
            <span><i class="fa fa-file-code-o"></i>  .gpx</span>
            <input type="file" id="file" name="file" required placeholder="Välj en GPX-fil"/>
            <span><i class="fa fa-map-marker"></i>  Lokalnamn</span>
            <input type="text" id="locale" name="locale" placeholder="Lokalnamn" required/>
            <span><i class="fa fa-bullseye"></i>  Noggrannhet (m)</span>
            <input type="number" id="accuracy" value="1" name="accuracy" placeholder="Noggrannhet (m)" required/>
            <h2>2. <i class="fa fa-hand-o-right"></i>  <button class="big-friendly" role="submit">Konvertera!  <i class="fa fa-motorcycle"></i></h2>  
            </button>
            </h2>
          </form>
      </article>
      
      <h1 id="loading" class="htmx-indicator" aria-busy="true"></h1>
      <div id="result">
        {% include "result.html" %}
      </div>
      
      <footer style="text-align: right;">
        <hr>
        <small>&copy; elektroslöjd 2024 | <a href="https://github.com/jomiq/gpx2artdata"> {{ env['BUILD_VERSION'] }}</a></small>
      </footer>
    </main>
    <datalist id="species_list">
    </datalist>
    <script>
      document.addEventListener("DOMContentLoaded", (e) => {
        init_datalist();
      });
    </script>
  </body>
</html>
