<html>
  <head>
    <title>gpx2artdata</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.green.min.css"
    />
    <link
      rel="icon"
      href="{{ url_for('static', path='/favicon.png') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="container">
      <header style="text-align: center;">
        <h1 style="margin-top: 4rem">{{ up_str }}</h1>
      </header>
      <article style="text-align: center">
        {% if n_files > 0 %}
        <h3>{{ n_files }} fil{% if n_files > 1 %}er{% endif %}, {{ n_rows }} observation{% if n_rows > 1 %}er{% endif %}</h3>
        <form action="/reset" method="GET">
          <input type="submit" value="Rensa!" />
        </form>
        {% else %}
        <h3>Tomt!</h3>
        {% endif %}
        <p><b>Reset</b> {{ reset_t }}</p>
      </article>
      <footer style="text-align: right">
        <hr />
        <small>&copy; elektroslöjd 2024 | <a href="https://github.com/jomiq/gpx2artdata/commit/{% include 'version.txt' %}"> {% include "version.txt" %}</a></small>
      </footer>
    </main>
  </body>
</html>
